<!-- Basket Template --> 
<h3> Cher {{user.firstName}} {{user.name}}, votre Panier : </h3>

<br>

<div class="alert alert-warning" role="alert" ng-show="basket.getTotalItems() === 0">
    Your cart is empty
</div>

<div class="table-responsive col-lg-12" ng-repeat="event in basket">
<div basketEvent></div>
</div>

<basket-event></basket-event>

<br><br>

<div class="text-center">
<button ng-click="" class="btn label-success">
	<span caria-hidden="true"> Valider mon panier</span>
</button>
</div>

<label>Total : {{total_basket}}</label>
