<fieldset>

    event_name

    <div class="table-responsive col-lg-12">
        <table class="table table-striped basketEvent">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                    <th>Montant</th>
                    <th><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in event.items">
                    <td>{{ item.getName() }}</td>
                    <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                      {{ item.getQuantity() | number }}&nbsp;&nbsp;
                      <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
                      <td>{{ item.getPrice() | currency}}</td>
                      <td>{{ item.getTotal() | currency }}</td>
                      <td><span ng-click="event.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </fieldset>