<!-- Commands List Template --> 
<div id="eventPage" class="container" >
	<section id="event" class="col-sm-8 col-sm-offset-2">
		<section id="info" class="col-md-12">
			<h1> Visualiser mes commandes </h1>		
		</section>
		<div id="cmdsTable" class="table-responsive" style="margin:0px auto;max-width:800px;">
				<table class="commandTable table table-condensed table-center">
					<thead>
						<tr>
							<th>Mes commandes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cmd in commands">
							<td><a class="block" href="#/usr/cmd/{{cmd._id}}"> Commande du {{cmd.dateBuy | date:'dd/MM/yyyy - H:mm'}}	</a></td>
						<tr>
					</tbody>
				</table>
			</div>
	</section>
</div>