<!-- Command Template -->
<h1> Contenu de ma commande du {{command.dateBuy | date:'dd/MM/yyyy - H:mm'}} </h1>
<div  ng-repeat="evnt in events">
	<h2>Tickets pour le {{evnt.title}}</h2>
	<img ng-src="data:{{evnt.ticketImage.ticketImg.filetype}};base64,{{evnt.ticketImage.ticketImg.base64}}" class="img-thumbnail" alt="{{evnt.title}}">
	<div class="table-responsive" style="margin:0px auto;max-width:800px;">
		<table class="commandTable table table-bordered table-condensed table-center table-striped table-hover">
			<thead>
				<tr>
					<th>Type de ticket</th>
					<th>Prix</th>
					<th>Date d'expiration</th>
					<th>Utilisé</th>
					<th>Accéder à mon ticket</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ticket in evnt.tickets">
					<td data-title="Type de ticket">{{ticket.ticketTypeName}}</td>
					<td data-title="Prix">{{ticket.price}}€</td>
					<td data-title="Date d'expiration">{{ticket.expirationDate | date : 'dd/MM/yyyy'}}</td>
					<td data-title="Utilisé">{{!ticket.used}}</td>
					<td data-title="Accéder à mon ticket"><a href="#/event/{{evnt._id}}/ticket/{{ticket._id}}">visualiser</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>