<!-- Event Template -->
<div id="eventPage" class="container">
	<img id="eventImage" class="img-responsive center-block" data-ng-src="data:{{imgs.backgroundImg.filetype}};base64,{{imgs.backgroundImg.base64}}" alt="event_image">
	<section id="event" class="col-sm-10 col-sm-offset-1">
		<section id="info" class="col-md-12">
			<h1>{{thisEvent.title}}</h1>
			<ul>
				<li>Description :</li><p class="center">{{thisEvent.description}}</p>
				<li>Dates :</li><p class="center">Du {{thisEvent.dateStarting | date:'dd/MM/yyyy'}} au {{thisEvent.dateEnding  | date:'dd/MM/yyyy'}}.</p>
				<li>Lieu :</li> <p class="center">{{thisEvent.street}}<br/>
				{{thisEvent.zipCode}} {{thisevent.city}}<br/>
				{{thisEvent.county}}<br/>
				{{thisEvent.country}}</p>
			</ul>
		</section>
		<section class="col-md-12">
			<h1>Billeterie</h1>
			<div id="tickets" ng-repeat="ticketType in thisEvent.ticketsType">
				<div id="ticket{{$index+1}}" class="ticket container-fluid">			  		
					<div class="col-md-3">
						<img id="ticket_$index_image" class="img-responsive center-block" data-ng-src="data:{{imgs.ticketImg.filetype}};base64,{{imgs.ticketImg.base64}}">
					</div>
					<div class="col-md-9">
						<h2>{{ticketType.type}}<span class="pull-right">{{ticketType.ticketLeft}} restant</span></h2>
						<ul>
							<li>Description : {{ticketType.description}}</li>
							<li>Expiration : {{ticketType.expirationDate | date:'dd/MM/yyyy'}}</li>
							<li>Prix : {{ticketType.price}} €</li>
						</ul>
						<span class="pull-right" ng-hide="thisEvent.canceled || (!thisEvent.online || (ticketType.ticketLeft > 0))">-Epuisé-</span>
						<div class="pull-right" ng-show="thisEvent.online && !thisEvent.canceled && (ticketType.ticketLeft > 0) && !user.authenticated">
							-<a id="link_connect" href="#/login">Connectez-vous</a> pour acheter-
						</div>
						<div class="pull-right" ng-hide="thisEvent.online">
							-Ventes non ouvertes-
						</div>
						<div class="pull-right" ng-show="thisEvent.canceled">
							-Evénement annulé-
						</div>
						<div class="pull-right" ng-show="thisEvent.online && !thisEvent.canceled &&dateNotExpired(thisEvent.dateEnding) && (ticketType.ticketLeft > 0) && user.authenticated">
							<input ng-model="places_number" type="number" value="0" min="1">

							<button ng-click="addToBasket(places_number,ticketType.uniqueID,ticketType.price,ticketType.type,ticketType.ticketLeft, ticketType.expirationDate, thisEvent.title)" class="btn btn-custom">
								<span class="glyphicon glyphicon-shopping-cart"></span>Ajouter au panier
							</button>	
						</div>
					</div>	  		
				</div>
			</div>
		</section>
	</section>
</div>
