<!-- Event Template -->
<div id="eventPage" class="container">
	<img id="eventImage" class="img-responsive center-block" data-ng-src="data:{{imgs.backgroundImg.filetype}};base64,{{imgs.backgroundImg.base64}}" alt="event_image">
	<section id="event" class="col-sm-8 col-sm-offset-2">
		<section id="info" class="col-md-12">
			<h1>{{thisEvent.title}}</h1>
			<ul>
				<li>Description :</li><p class="center">{{thisEvent.description}}</p>
				<li>Dates :</li><p class="center">Du {{thisEvent.dateStarting | date:'dd/MM/yyyy'}} au {{thisEvent.dateEnding  | date:'dd/MM/yyyy'}}.</p>
				<li>Lieu :</li> <p class="center">{{thisEvent.street}}<br/>
				{{thisEvent.zipCode}} {{thisevent.city}}<br/>
				{{thisEvent.county}}<br/>
				{{thisEvent.country}}</p>
			</ul>
		</section>
		<section class="col-md-12">
			<h1>Billeterie</h1>
			<div id="tickets" ng-repeat="ticketType in thisEvent.ticketsType">
				<div id="ticket" class="container-fluid" ng-show="ticketType.ticketLeft>0">			  		
					<div class="col-md-3">
						<img id="ticket_$index_image" class="img-responsive center-block" data-ng-src="data:{{imgs.ticketImg.filetype}};base64,{{imgs.ticketImg.base64}}">
					</div>
					<div class="col-md-9">
						<h2>{{ticketType.type}}<div class="pull-right">{{ticketType.ticketLeft}} restant</div></h2>
						<ul>
							<li>Description : {{ticketType.description}}</li>
							<li>Expiration : {{ticketType.expirationDate | date:'dd/MM/yyyy'}}</li>
							<li>Prix : {{ticketType.price}} €</li>
						</ul>
						<div class="pull-right" ng-show="thisEvent.online && dateNotExpired(thisEvent.dateEnding)">
							<input ng-model="places_number" type="number" value="0" min="0">
							<button ng-click="addToBasket(places_number,ticketType.uniqueID,ticketType.price,ticketType.description,ticketType.ticketLeft,thisEvent.title)" class="btn btn-primary">
								Ajouter au panier
							</button>	
						</div>
					</div>	  		
				</div>
			</div>
		</section>
	</section>
</div>
