<!-- eventForm Partial -->
<fieldset  id="eventForm" ng-controller="EventCtrl" class="eventForm">
	<form name="eventForm" validate>
		<label>Titre</label>
		<input id="txtEventTitle" type="text" class="form-control" placeholder="Entrez un nom d'événement" ng-model="eventFormData.title" required/><br/>
		
		<label>Date de début</label>
		<input id="txtEventDateStarting" type="date" class="form-control" placeholder="aaaa-mm-jj" ng-model="eventFormData.dateStarting" required/>
		<label>Date de fin</label>
		<input id="txtEventDateEnding" type="date" class="form-control" placeholder="aaaa-mm-jj" ng-model="eventFormData.dateEnding" required/><br/>
		
		<label>Description</label>
		<textarea id="txtEventDescription" class="form-control" placeholder="Description de l'événement" ng-model="eventFormData.description" required/></textarea><br/>

		<label>Adresse</label>
		<input id="txtEventStreet" type="text" class="form-control" placeholder="rue / avenue / residence..." ng-model="eventFormData.street" required/><br/>
		
		<label>Code postal</label>
		<input id="txtEventZipCode" type="text" class="form-control" placeholder="33000" ng-model="eventFormData.zipCode" required/>
		<label>Ville</label>
		<input id="txtEventCity" type="text" class="form-control" placeholder="Bordeaux" ng-model="eventFormData.city" required/><br/>

		<label>Département</label>
		<input id="txtEventCounty" type="text" class="form-control" placeholder="Gironde" ng-model="eventFormData.county"><br/>

		<label>Pays</label>
		<input id="txtEventCountry" type="text" class="form-control" placeholder="France" ng-model="eventFormData.country" required/><br/>

		<label>Image de la page de présentation</label>
		<input id="fileEventImage" type="file" ng-model="eventFormData.image"/><br/>
		

		<div ng-repeat="t in formData.ticketsType">
			<hr />
			<label>Type</label>
			<input id="txtEventType{{$index+1}}" type="text" class="form-control" placeholder="Plein tarif 2 jours" ng-model="t.type" required/><br/>
			
			<label>Description</label>
			<input id="txtEventDescription{{$index+1}}" type="text" class="form-control" placeholder="" ng-model="t.description" required/><br/>
			
			<label>Qantité</label>
			<input id="txtEventTicketLeft{{$index+1}}" type="number" class="form-control" title="Enter a quantity" min="1" ng-model="t.ticketLeft" required/><br/>

			<label>Prix</label>
			<input id="txtEventPrice{{$index+1}}" type="number" class="form-control" title="Enter a price" min="1" ng-model="t.price" required/><br/>

			<label>Date d'expiration</label>
			<input id="txtExpirationDate{{$index+1}}" type="date" class="form-control" placeholder="jj/mm/aaaa" ng-model="t.expirationDate" required/><br/>

			<label>Image de fond du billet</label>
			<input id="fileTicketTypeImage{{$index+1}}" type="file" ng-model="t.image"/><br/>
			<button id="bt_rem_ticketType{{$index+1}}" ng-show="formData.ticketsType.length-1"
				ng-click="formData.ticketsType.splice($index, 1)" title="Delete this ticket ?">
				Remove this ticket type
			</button>
		</div>
		<button id="bt_add_ticket" class="btn btn-primary" ng-click="formData.ticketsType.push({'category': '', 'quantity':'', 'price':'', 'expirationDate':'', 'image':''})">
			Add Ticket Type
		</button>
		<hr />

		<button id="bt_submit" type="submit" class="btn btn-success pull-right" ng-disabled="form.$invalid" ng-click="formBtnLabel=='Create'?createEvent():updateEvent(formData._id); $parent.editMode = false">
			{{formBtnSubmitLabel}} this Event !
		</button>	
	</form>
</fieldset>


