
<div id="eventPage" class="container" >
	<section id="event" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<section id="info" class="col-sm-12">
			<h1><span class="fa fa-sign-in"></span> Connexion</h1>
			<!-- LOGIN FORM -->
			<form ua-login>
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" name="login" placeholder="Email" ng-model="log">
				</div>
				<div class="form-group">
					<label>Mot de passe</label>
					<input type="password" class="form-control" name="password" placeholder="Mot de passe" ng-model="pass">
				</div>
				<div class="text-center">
					<p ng-show="error" class="alert-danger">{{ error.message }}</p>
					<button ng-hide="showUnlockButton" type="submit" class="btn btn-custom btn-lg" ng-click="createUser(log, pass)"><span class="glyphicon glyphicon-log-in "></span>Connecter</button>
					<button type="button" ng-show="showUnlockButton" class="btn btn-custom btn-lg" ng-confirm-click="Voulez-vous réactiver votre Compte ?" confirmed-click="unlockUser(log, pass, idLock)">Réactiver Mon Compte</button>
				</div>
			</form>
			<div class="margTop">
				<p>Pas encore inscrit ? <a class="link_connect" href="#/signup">Inscription</a></p>
				<p>Mot de passe oublié ? <a class="link_connect" href="#/reset-password">Réinitialiser mot de passe</a></p>
				<p>Perdu ? <a class="link_connect" href="#/">Retournez à l'accueil</a>.</p>
			</div>
		</section>
	</section>
</div>

