<div class="container">
		<div class="row" style="width: 1200px; margin: 50px; text-align: left; display: inline-block;">
			<div class="col-md-8">
				<form class="form" role="form" ng-submit="payment(formPayment)" ng-model="formPayment">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="card_number" class="control-label">Card Number</label>
								<input type="text" size="20" class="form-control" id="card_number" placeholder="Enter your card number">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="expiration_month" class="control-label">Expiration</label>
								<br>
								<input type="text" size="2" class="form-control" id="expiration_month" placeholder="MM" style="display: inline-block; width: 40%;">
								<span> / </span>
								<input type="text" size="2" class="form-control" id="expiration_year" placeholder="YY" style="display: inline-block; width: 40%;">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="cvc" class="control-label">CVC</label>
								<input type="text" size="4" class="form-control" id="cvc" placeholder="XXXX">
							</div>
						</div>
					</div>
					<div class="row">
						<hr>
					</div>
					<div class="row">
						<div class="form-group" style="text-align: right;">
							<button type="submit" class="btn btn-info" ng-disabled="isDisabled" ng-model="isDisabled" ng-init="isDisabled = false">
								<span>Valider payement &rarr;</span>
								<img src="img/ajax-loader-btn.gif" style="display: none; width: 13px;">
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default" style="margin-top: 15px;">
					<div class="panel-heading">
						<h3 class="panel-title">Subscription Details</h3>
					</div>
					<div class="panel-body">
						<div>
							Amount = 15
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="error" class="row" style="display: none;">
			<div id="error-message" class="alert alert-danger" style="border-radius: 0;"></div>
		</div>
		<div id="success" class="row" style="display: none;">
			<div id="success-message" class="alert alert-success" style="border-radius: 0;"></div>
			<button type="submit" class="btn btn-danger" ng-click="refund(data, optionnal)">Remboursement commande</button>
		</div>
	</div>
