<div id="eventPage" class="container" >
	<section id="event" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<section id="payment" class="payment col-sm-12">
			<h1>Paiement de votre commande</h1>
			<div class="col-md-12">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><span id="commandAmount">Montant de la commande : <strong>{{command.totalAmount}}</strong> €</span></h3>
						</div>
					</div>
				</div>
				<form class="form" role="form" ng-submit="payment(formPayment)" ng-model="formPayment">
					<div class="col-xs-12">
						<label for="card_number">Numero de carte</label>
						<input type="text" size="20" class="form-control" id="card_number" placeholder="Enter your card number">
					</div>
					<div class="col-xs-6">
						<label for="expiration_month">Date d'expiration</label>
						<br>
						<input type="text" size="2" class="form-control" id="expiration_month" placeholder="MM" style="display: inline-block; width: 40%;">
						<span> / </span>
						<input type="text" size="2" class="form-control" id="expiration_year" placeholder="YY" style="display: inline-block; width: 40%;">
					</div>
					<div class="col-xs-6">
						<label for="cvc">Cryptogramme</label>
						<input type="text" size="4" class="form-control" id="cvc" placeholder="XXX">
					</div>
					<div class="col-xs-12">
						<hr>
					</div>
					<div id="error" class="col-xs-12" style="display: none;">
						<div id="error-message" class="alert alert-danger" style="border-radius: 0;"></div>
					</div>
					<div id="success" class="col-xs-12" style="display: none;">
						<div id="success-message" class="alert alert-success" style="border-radius: 0;"></div>
						<!--<button type="submit" class="btn btn-danger" ng-click="refund(data, optionnal)">
							Remboursement commande
						</button>-->
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-custom" ng-disabled="isDisabled" ng-model="isDisabled" ng-init="isDisabled = false">
							<span class="glyphicon glyphicon-euro"></span>Valider le paiement
						</button>
					</div>
				</form>
			</div>	
		</section>
	</section>
</div>
