<style type="text/css">
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
</style>

<div class="roundedImage">
    <img src="http://static.debray-jerome.fr/49/images/slideshow/1.jpg" alt="1"/>
</div>

<div class="container" >

<div class="col-sm-6 col-sm-offset-3" id="x">

   <label>Mon profil</label>

   <div>
   		Création du compte : {{user.created_at}}
   		Dernière connexion: {{user.last_login_at}}
   		Modifications du profil : {{user.updated_at}}

	   	Votre email : {{user.email}}
	   	Votre prénom : {{user.first_name}}
	   	Votre nom : {{user.last_name}}

</div>
        <button type="submit" class="btn btn-danger btn-lg" ng-click="lockUsr(user)" >Désactiver Compte</button>


</div>


