<div class="container" >
<div class="col-sm-6 col-sm-offset-3" id="x">

  <div class="roundedImage span8 offset2">
      <img data-ng-src="data:{{mongoUser.photo.filetype}};base64,{{mongoUser.photo.base64}}" alt="Photo profil"/>
  </div>
   <label>Mon profil</label>   
      <div class="panel panel-info">
    <div class="panel-heading ">
      <h3 class="panel-title"> Email: </h3>
    </div>
    <div id="userEmail" class="panel-body">
      {{email}}
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading ">
      <h3 class="panel-title"> Prenom:  </h3>
    </div>
    <div id="userFirstName" class="panel-body" >
      {{first_name}}
      <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editName"></span>
    </div>
  </div>

  <div class="panel panel-info" ng-show="user.last_name.length > 0">
    <div class="panel-heading ">
      <h3 class="panel-title"> Nom:  </h3>
    </div>
    <div id="userLastName" class="panel-body">
      {{last_name}}
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading ">
      <h3 class="panel-title"> Création du compte : </h3>
    </div>
    <div id="userDateCreate" class="panel-body">
      {{create_account | date:'dd/MM/yyyy - HH:mm:ss'}}
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"> Dernière connexion:  </h3>
    </div>
    <div id="userDateLastLogin" class="panel-body">
      {{last_login | date:'dd/MM/yyyy - HH:mm:ss'}}    
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"> Modifications du profil : </h3>
    </div>
    <div id="userDateUpdate" class="panel-body">
      {{updated_at | date:'dd/MM/yyyy - HH:mm:ss'}}
    </div>
  </div>
   		
    <div class="modal fade" id="editName" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button id="btn_userNewFirstName" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Nouveau Prénom</h4>
          </div>
          <div class="modal-body">
          <form name="myForm">
            <input id="userNewFirstName" ng-minlength="4" ng-maxlength="15" name="lastName"ng-model="newPrenom" >
            <span class="error" ng-show="myForm.lastName.$error.minlength">
               Min 4 caractères!</span><br>
            <span class="error" ng-show="myForm.lastName.$error.maxlength">
               Max 15 caractères!</span><br>
            <span  ng-show="errorMsg">
               Veuillez remplir le champ</span><br>
          </form>
          </div>
          <div class="modal-footer">
            <button id="btn_userFirstNameClose" type="button" class="btn btn-default" data-dismiss="modal" ng-click="reloadPage()">Close</button>
            <button id="btn_userFirstNameSave" type="button" class="btn btn-primary" ng-click="validateChange(newPrenom, newPrenom.length)">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <label>Image miniature du profil</label>
    <span>
    <input id="userGetImage" type="file" ng-model="mongoUser.photo" name="file" base-sixty-four-input required ng-click="viewImgP()"/>
    <button id="bt_submit" type="submit" ng-click="updateProfile()">validate</button>
    </span>
    <div ng-show="viewImg">
    <p>Prévisualisation : <img ng-src="data:{{mongoUser.photo.filetype}};base64,{{mongoUser.photo.base64}}" alt=""></p>
    </div>

    <div class="alert alert-success" role="alert" ng-if="user.locks.length === 0">
      Votre compte est : Actif 
      <button id="btn_disableAccount" type="submit" class="btn btn-danger" ng-click="lockUsr(user)">Désactiver Compte</button>
    </div>
</div>


