<div id="eventPage" class="container" >
	<section id="event" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<section id="profile" class="col-sm-12">
			<h1>Réinitialisation du mot de passe</h1>
			<div id="info">
				<form ua-reset-password ng-show="!emailSent">
					<div class="form-group">
						<span>Veuillez renseigner l'adresse mail assignée au compte :</span><br/>	
						<input class="form-control" name="login" placeholder="email"><br>	   	
					</div>
					<div class="text-center">
						<p ng-show="error" class="alert-danger">{{ error.message }}</p>
						<button type="submit" class="btn btn-custom btn-lg">Envoi mail</button>
					</div>
				</form>	
			</div>		
			<p ng-show="emailSent" class="alert-success">
				Un email vous a été envoyé. Cliquez sur le lien de celui-ci pour réinitialiser votre mot de passe.
			</p>		
		</section>
	</section>
</div>