<div class="container" >
	<div class="col-sm-6 col-sm-offset-3" id="x">
		<form ua-reset-password ng-show="!emailSent">
			<div class="form-group">
		   		<span>Veuillez renseigner l'adresse mail assignée au compte :</span><br/>	
		   		<input class="form-control" name="login" placeholder="email"><br>	   	
		   	</div>
		   	<button type="submit" class="btn btn-default">Envoi mail</button>

		    <p ng-show="error">{{ error.message }}</p>
		</form>
		<p ng-show="emailSent">Un email vous a été envoyé. CLiquez sur le lien pour réinitialiser votre mot de passe</p>
	</div>
</div>
