<div id="eventPage" class="container" >
	<section id="event" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<section id="profile" class="col-sm-12">
			<h1>Réinitialisation du mot de passe</h1>
			<div id="info">
				<form ua-set-password ng-show="!passwordSaved">
					<div class="form-group">
						<span>Nouveau mot de passe</span><br/>
						<input id="mdp" class="form-control" ng-model="pw1" name="new_password" type="password"><br>
						<span>Confirmation du nouveau mot de passe</span><br/>
						<input id="mdp2" class="form-control" ng-model="pw2" name="new_password2" type="password"><br>
					
						<div class="text-center">
							<button type="submit" ng-disabled="!checkPwdModif()" class="btn btn-custom">Modifier le mot de passe</button>
							<p ng-show="error">{{ error.message }}</p>
						</div>
					</div>
				</form>
			</div>		
			<p ng-show="passwordSaved" class="alert alert-success">
				Votre nouveau mot de passe a été pris en compte, <a href="#/login">connectez-vous</a>!
			</p>
		</section>
	</section>
</div>
