<div id="eventPage" class="container" >
	<section id="event" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<section id="info" class="col-sm-12">
			<h1><span class="fa fa-sign-in"></span> Inscription</h1>
			<!-- LOGIN FORM -->
			<form ua-signup ng-show="!verificationEmailSent">
				<div class="form-group">
					<label>Pseudo</label>
					<input name="first_name" class="form-control" placeholder="Pseudo"><br>
				</div>
				<div class="form-group">
					<label>Email</label>
					<input name="login" class="form-control" ua-is-email placeholder="Email"><br>
				</div>
				<div class="form-group">
					<label>Mot de passe</label>
					<input name="password" class="form-control" placeholder="Password" type="password"><br>
				</div>
				<div class="text-center">
					<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
					<p ng-show="error" class="alert-danger">{{ error.message }}</p>
					<button type="submit" class="btn btn-custom  btn-lg" ng-click="createUser()"><span class="glyphicon glyphicon-user"></span>Créer mon compte</button>
				</div>
			</form>
			<div class="margTop">	
				<p ng-show="verificationEmailSent" class="alert-success">
					Un email vous a été envoyé.<br/>Veuillez activer votre compte en cliquant sur le lien contenu dans le mail.
				</p>
				<p>Déjà inscrit ? <a class="link_connect" href="#/login">Connectez-vous !</a></p>
			</div>
		</section>
	</section>
</div>

