<!-- Ticket Template -->
<div id="eventPage" class="container" >
	<section id="event" class="col-xs-10 col-xs-offset-1">
		<section class="col-xs-12">
			<h1  class="text-center">Votre billet pour {{event.title}}</h1>
			<div class="alert alert-warning" role="alert" ng-show="event.canceled">
				Billet non disponible : <br/>
				Ce billet vous a été remboursé suite à l'annulation de l'événement "{{event.title}}" !
			</div>
		</section>
	</section>
</div>
<event-ticket ng-hide="event.canceled"></event-ticket>
