<!-- UserEvents Template -->
<div id="eventPage" class="container" >
	<section id="event" class="col-xs-10 col-xs-offset-1">
		<section id="info" class="col-xs-12">
			<!--Menu-->
			<nav id="mineEventNav">
				<div class="row">
					<button id="bt_organised" type="button" class="btn btn-custom col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1" ng-class="(organised)?'active':'';" ng-click="organised=true; participed=false;">Les événements que j'organise</button>
					<button id="bt_participed" type="button" class="btn btn-custom col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1" ng-class="(participed)?'active':'';" ng-click="organised=false; participed=true;">Les événements auxquels je participe</button>
				</div>
				<div class="search noMargBottom row" ng-show="(organised && events.length!=0) || (participed && participatedEvent.length!=0)">
					<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 ">
						<input value="barre de recherche" placeholder="Rechercher un événement..." class="form-control" type="text" ng-model="search.title" aria-describedby="basic-addon1">
					</div>
				</div>
			</nav>
		</section>
		
		<section class="col-xs-12">
			<!--Organisés-->
			<div ng-show="organised">
				<div class="alert alert-warning " role="alert" ng-hide="events.length">
					Vous n'avez organisé aucun évènement ! 
					<a id="bt_createMineEvent" class="btn btn-custom" href="#/event/create">
						<span class="glyphicon glyphicon-bullhorn"></span>Organiser votre évènement
					</a>
				</div>
				<h1 class="noMargTop" ng-show="events.length"> Revenu global : {{income}} €</h1>
				<div>
					<div id="mineEvents" ng-repeat="event in events | filter:search" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">		
						<h2>{{event.title}}</h2>
						<!-- picture -->
						<a id="eventSmallImage{{$index+1}}" class="eventSmallImage col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="show{{$index+1}}" href="#/event/{{event._id}}"><img ng-src="data:{{event.imageSmall.filetype}};base64,{{event.imageSmall.base64}}" class="img-thumbnail" alt="{{event.title}}"></a>
						
						<!-- income -->
						<table id="income{{$index+1}}" class="commandTable income col-lg-12">
							<thead>
								<tr>
									<th class="col-lg-1 text-center">Ventes</th>
									<th class="col-lg-8 text-center">Type billet (Qté)</th>
									<th class="col-lg-1 text-center">Prix</th>
									<th class="col-lg-2 text-center">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr id="ticketTypeIncome{{$index+1}}" ng-repeat="ticketType in event.ticketsType">
									<td class="col-lg-1 text-center">{{ticketType.sold}}</td>
									<td class="col-lg-8 text-center">{{ticketType.type}} ({{ticketType.ticketLeft + ticketType.sold}})</td>
									<td class="col-lg-1 text-center">{{ticketType.price}}€</td> 
									<td class="col-lg-2 text-center">{{ticketType.income}}€</td>
								</tr>
							</tbody>
						</table>
						
						<span> Revenu Total : {{event.income}}€</span>

						<!-- management -->
						<div id="management{{$index+1}}" class="management col-lg-12 text-right">	
							<a id="edit{{$index+1}}" ng-hide="event.online" class="btn btn-custom" ng-href="#/event/{{event._id}}/edit">
								<span class="glyphicon glyphicon-pencil"></span>Editer
							</a>
							<button id="publish{{$index+1}}" ng-hide="event.online || dateExpired(event.dateStarting)" class="btn btn-custom" confirmed-click="publish(event)" ng-confirm-click="Etes-vous sûr de vouloir publier l'événement {{event.title}} ?" >
								<span class="glyphicon glyphicon-send"></span>Publier
							</button>
							<button id="delete{{$index+1}}" ng-hide="event.online" class="btn btn-custom" confirmed-click="delete(event)" ng-confirm-click="Etes-vous sûr de vouloir supprimer l'événement {{event.title}} ?">
								<span class="glyphicon glyphicon-remove"></span>Supprimer
							</button>
							<button id="cancel{{$index+1}}" ng-show="event.online && !dateExpired(event.dateStarting) && !event.canceled" class="btn btn-custom" confirmed-click="cancel(event)" ng-confirm-click="Etes-vous sûr de vouloir annuler l'événement {{event.title}} ?
							(Tous les clients seront remboursés)">
								<span class="glyphicon glyphicon-ban-circle"></span>Annuler
							</button>
							<span id="noActions{{$index+1}}" ng-show="event.online && !event.canceled && dateExpired(event.dateStarting)" class="span-text span-error">
								Evénement en cours ou expiré !
								<br/>(aucune action possible)
							</span>
							<span id="noActions{{$index+1}}" ng-show="event.canceled" class="span-text span-error">
								Evénement annulé !
								<br/>(aucune action possible)
							</span>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-show="participed">
				<div class="alert alert-warning " role="alert" ng-hide="participatedEvent.length">
					Vous n'avez participé à aucun évènement ! 
					<a id="bt_createMineEvent" class="btn btn-custom" href="#/">
						<span class="glyphicon glyphicon-list-alt"></span>Consulter les évènements disponibles
					</a>
				</div>
				<div>
					<div class="text-center" ng-repeat="event in participatedEvent | unique:title | filter:search">
						<event-miniature ng-hide="event.canceled"></event-miniature>
					</div>	
				</div>
			</div>
		</section>
	</section>
</div>