
/*********************************/
/*** eventFrm ********************/
/***          ********************/
	#eventForm { 
		width:500px;
		margin:auto;
		border:1px solid lightgray; 
		border-radius:10px; 
		padding:10px; 
	}

	#eventForm hr { 
		border:1px solid lightgray; 
		margin:0; 
	}
	
	#eventForm label, #eventForm input, #eventForm textarea{
		width:100%;
	}

	#eventForm div input, #eventForm div textarea,  #eventForm div label{ 
		margin-left:15px; 
	}

	#eventForm input { 
		display:inline-block; 
		width:80px; 
		text-align:center; 
	}
	
	#eventForm label + input, #eventForm label + textarea  { 
		width:95%;
		margin-bottom:10px; 
	}

	#eventForm button[type=submit], #eventForm button[type=button]{
		margin-top:10px;
	}

	#eventForm img{
		height:25px; 
		margin:0px; 
		padding:0px;
		padding-bottom:5px;
		cursor:pointer;
	}

/*********************************/
/***          ********************/
/***          ********************/