/*********************************/
/*** global **********************/
/***        **********************/
	.center{
		display:block;
		text-align:center;
		float:none;
		margin:auto;
	}
	body{
		background:lightgrey;
	}


/*********************************/
/*** page ************************/
/***      ************************/
	#page{
		margin-top:50px; /* required to let some place for the top-fixed main menu bar. */
	}


/*********************************/
/*** login ***********************/
/***       ***********************/
	#login {
		padding-top: 80px;	
	}
/*********************************/
/*** Profile Image ***************/
/***               ***************/
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}

.roundedImage img{
	width: 90px;
	height: 90px;
}


/*********************************/
/*** eventPage *******************/
/***           *******************/
	#eventPage{
		width:100%;
		color: #FFF;
		font-size: 16px;
		font-family: "Century Gothic",arial,serif;
		text-align: left;
		padding-top:20px;
	}
	#eventPage #eventImage{
		color:black;
		margin-top:10px;
		margin-bottom:20px;
	}
	#eventPage #event #info > *, #eventPage #event section h1, #eventPage #event, #eventPage #event #ticket{
		background-color: rgba(0, 0, 0, 0.90);
		padding:10px 10px 10px 10px;
		border: 1px solid #cecece;
		-webkit-border-radius: 10px;
		 -khtml-border-radius: 10px;
		   -moz-border-radius: 10px;
			-ms-border-radius: 10px;
			 -o-border-radius: 10px;
				border-radius: 10px;
	}
	#eventPage #event{
		background-color: grey;
		padding:0px 0px 15px 0px;
	}
	#eventPage #event * h1{		
		text-align: center;
	}
	#eventPage #event #info ul{		
		padding-left:25px;
	}
	#eventPage #event #info ul li{
		font-style:oblique;
	}
	#eventPage #event #tickets{
		margin:0px;
		padding:0px;
	}
	#eventPage #event #ticket h2{
		margin-top:0px;
		padding-top:0px;
		font-style: oblique;
	}
	#eventPage #event #ticket input[type=number]{
		width:50px;
		background:black;
		height:34px;
	}
	#eventPage #event #ticket button{
		color:black;
		font-weight: bolder;
		margin-left:10px;
	}


/*********************************/
/*** eventFrm ********************/
/***          ********************/
	#eventForm { 
		width:500px;
		margin:auto;
		margin-bottom:20px; 
		border:1px solid gray; 
		border-radius:10px; 
		padding:10px; 
	}
	#eventForm hr { 
		border:1px solid gray; 
		margin:0;
	}	
	#eventForm label, #eventForm input, #eventForm textarea{
		width:100%;
	}
	#eventForm div input, #eventForm div textarea,  #eventForm div label, #eventForm div p{ 
		margin-left:15px; 
	}
	#eventForm input { 
		display:inline-block; 
		width:80px; 
		text-align:center; 
	}
	#eventForm label + input, #eventForm label + textarea  { 
		width:95%;
		margin-bottom:10px; 
	}
	#eventForm button[type=submit], #eventForm button[type=button], #eventForm a{
		margin-top:10px;
	}
	#eventForm img{
		height:25px; 
		margin:0px; 
		padding:0px;
		padding-bottom:5px;
		cursor:pointer;
	}

	/* Form Validation */
	#eventForm div.red{
		color:red;
		text-align:center;
		margin-bottom:15px;
	}
	#eventForm input.ng-invalid, #eventForm textarea.ng-invalid{
  		border: 1px solid red;
	}
	#eventForm input.ng-valid, #eventForm textarea.ng-valid{
	  	border: 1px solid green;
	}


/*********************************/
/*** mineEvents ******************/
/***            ******************/
	nav#mineEventNav{
		padding:40px;
	}

	div#content{
		padding:0px 20px 20px 20px;
		border: 1px solid black;
		-webkit-border-radius: 10px;
		 -khtml-border-radius: 10px;
		   -moz-border-radius: 10px;
			-ms-border-radius: 10px;
			 -o-border-radius: 10px;
				border-radius: 10px;
	}

	#mineEvents{
		color:white;
		background-color: rgba(0, 0, 0, 0.90);
		padding:10px 10px 10px 10px;
		border: 1px solid #cecece;
		-webkit-border-radius: 10px;
		 -khtml-border-radius: 10px;
		   -moz-border-radius: 10px;
			-ms-border-radius: 10px;
			 -o-border-radius: 10px;
				border-radius: 10px;
	}

	#mineEvents h2{
		margin:0px;
	}

	#mineEvents .eventSmallImage{
		margin-top:10px;
		margin-bottom:10px;
	}

	#mineEvents table.income{
		margin-bottom:5px;
	}
	#mineEvents table.income td{
		border:solid 1px lightgrey;
	}
	#mineEvents table.income{
		margin-left:auto;
		margin-right:auto;
	}
	#mineEvents table.income th{
		padding-top:5px;
		padding-bottom:5px;
	}

	#mineEvents div.management{
		padding-top:15px;
	}
