<br>
<div ng-show="event.tickets.length > 0">
  <div class="col-lg-offset-1 col-lg-10">
    <fieldset class="scheduler-border fieldfield">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead >
            <tr>
              <th class="text-center">Article</th>
              <th class="text-center">Prix à l'unité</th>
              <th class="text-center">Quantité</th>
              <th class="text-center">Montant</th>
              <th class="text-center"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ticket in event.tickets">
              <legend >
                &nbsp; {{event.eventTitle}}
              </legend>
              <td>{{ticket.entitled}}</td>
              <td>{{ticket.price}} €</td>
              <td>
                <button class="btn-xs">
                  <span id="btn_basketMinus{{$index+1}}"class="glyphicon glyphicon-minus" ng-click="decrement(event.eventID, ticket.ticketType, ticket.nbTicket,ticket)"></span>
                </button>
                &nbsp;&nbsp;
                <input id="basketCurrentTickets{{$index+1}}" ng-model="ticket.nbTicket" ng-readonly="true"></input>
                &nbsp;&nbsp;
                <button class="btn-xs">
                <span id="btn_basketPlus{{$index+1}}" class="glyphicon glyphicon-plus" ng-click="increment(event.eventID, ticket.ticketType, ticket.nbTicket, ticket)"></span>
                </button>
              </td>
              <td>{{ticket.price*ticket.nbTicket}} €</td>
              <td>
                <button class="btn-xs label-danger">
                  <span id="btn_basketDelete{{$index+1}}" ng-click="deleteElement(event.eventID, ticket.ticketType, ticket.entitled)" class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
</div>