
<section  class="col-md-12">
	<span ng-switch="success">
		<span ng-switch-when="true"><h1>Ticket valide !</h1></span>
		<span ng-switch-when="false"><h1>Ticket non valide !</h1></span>
		<span ng-switch-default><h1>En attente de validation</h1></span>
	</span>

	<span ng-switch="success">
		<span ng-switch-when="true"><div class="alert alert-success">{{message}}</div></span>
		<span ng-switch-when="false"><div class="alert alert-danger">{{message}}</div></span>
		<span ng-switch-default><div class="alert alert-info">En attente...</div></span>
	</span>
</section>
