<div id="printable" class="container">
	<article class="fixTicketWidth">
		<h2>{{event.title}}<span class="pull-right">{{ticket.expirationDate | date:'dd/MM/yyyy'}}</span></h2>
		<ul>
			<li>{{event.description}}</li>
			<li>{{event.street}}<br/>
			{{event.zipCode}} {{event.city}}<br/>
			{{event.county}}<br/>
			{{event.country}}</li>
		</ul> 
	</article>
	<table id="ticket">
		<tr>
			<td class="">
				<img ng-src="data:{{event.imageSmall.filetype}};base64,{{event.imageSmall.base64}}" class="eventSmallImage" alt="{{event.title}}"/>
			</td>
			<td>
				<table>
					<tr class="">
						<td colspan="2" >
							<h2>{{event.title}}</h2>
							<p>
								Du {{event.dateStarting | date:'dd/MM/yyyy'}} au {{event.dateEnding | date:'dd/MM/yyyy'}}.
							</p>	
						</td>
					</tr>
					<tr>
						<td class="qrCode">
							<qr type-number="8" correction-level="'M'" size="150" text="qrcode" image="true"></qr>
						</td>
						<td class="info">
							<h3>{{ticket.type}}</h3>
							<p>	
								<strong>Description :</strong> {{ticket.description}}<br/>
								<strong>Prix :</strong> {{ticket.price}} €<br/>
								<strong>Date d'expiration :</strong> {{ticket.expirationDate | date:'dd/MM/yyyy'}}
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<p class="text-justify fixTicketWidth text-danger">
		Attention: à l'entrée de l'événement, il peut vous être demandé de présenter des justificatifs (Carte d'identité, carte d'étudiant, etc.) pour valider votre billet.
	</p>
</div>
<button id="bt_print" ng-click="printTicket('printable')" class="btn btn-primary col-xs-6 col-xs-offset-3">Imprimer le billet</button>
