<div id="printable" class="container">
	<article class="fixTicketWidth">
		<h2>{{event.title}}<span class="pull-right">{{ticket.expirationDate | date:'dd/MM/yyyy'}}</span></h2>
		<ul>
			<li><span id="eventDescription">{{event.description}}</span></li>
			<li><span id="eventStreet">{{event.street}}</span><br/>
			<span id="eventZipCode">{{event.zipCode}}</span> <span id="eventCity">{{event.city}}</span><br/>
			<span id="eventCounty">{{event.county}}</span><br/>
			<span id="eventCountry">{{event.country}}</span></li>
		</ul> 
	</article>
	<table id="ticket">
		<tr>
			<td class="">
				<img ng-src="data:{{imgs.ticketImg.filetype}};base64,{{imgs.ticketImg.base64}}" class="eventSmallImage" alt="{{event.title}}"/>
			</td>
			<td>
				<table>
					<tr class="">
						<td colspan="2" >
							<h2 id="eventTitle">{{event.title}}</h2>
							<p>
								Du {{event.dateStarting | date:'dd/MM/yyyy'}} au {{event.dateEnding | date:'dd/MM/yyyy'}}.
							</p>	
						</td>
					</tr>
					<tr>
						<td class="qrCode">
							<qr type-number="8" correction-level="'M'" size="150" text="qrcode" image="true"></qr>
						</td>
						<td class="info">
							<h3 id="ticketType">{{ticket.type}}</h3>
							<p>	
								<strong>Description :</strong> <span id="ticketDescription">{{ticket.description}}</span><br/>
								<strong>Prix :</strong> <span id="ticketPrice">{{ticket.price}}</span> €<br/>
								<strong>Date d'expiration :</strong> <span id="ticketExp">{{ticket.expirationDate | date:'dd/MM/yyyy'}}</span>
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<p class="text-justify fixTicketWidth text-danger">
		Attention: à l'entrée de l'événement, il peut vous être demandé de présenter des justificatifs (Carte d'identité, carte d'étudiant, etc.) pour valider votre billet.
	</p>
</div>
<button id="bt_print" ng-click="printTicket('printable')" class="btn btn-custom col-xs-6 col-xs-offset-3"><span class="glyphicon glyphicon-print"></span>Imprimer votre billet</button>
