<!-- eventForm Partial -->
<fieldset  id="eventForm" ng-controller="EventFrmCtrl" class="eventForm">
	<p class="text-center" ng-show="loading">
		<strong>Chargement en cours...</strong>
	</p>
	<p class="text-center" ng-show="eventFormData.online && !loading">
		<strong>L'événement choisi ne peut être édité car il est déjà en ligne ou expiré !</strong>
	</p>
	<form ng-hide="eventFormData.online || loading" name="eventForm" validate>
		<!-- Info générales -->
		<h2>Informations générales</h2>
		<div>
			<label>Titre</label>
			<input id="txtEventTitle" name="txtEventTitle" type="text" class="form-control" placeholder="Mon super événement" ng-model="eventFormData.title" required/><br/>
			
			<label>Date de début</label>
			<input id="txtEventDateStarting" name="txtEventDateStarting" type="date" class="form-control" placeholder="aaaa-mm-jj" ng-model="eventFormData.dateStarting" min="{{now | date: 'yyyy-MM-dd'}}" required/><br/>
			<div class="red" ng-show="eventForm.$submitted || eventForm.txtEventDateStarting.$touched">
      			<div class="red" ng-show="eventForm.txtEventDateStarting.$error.min">La date de début doit être postérieure à la date du jour.</div>
    		</div>
			<label>Date de fin</label>
			<input id="txtEventDateEnding" name="txtEventDateEnding" type="date" class="form-control" placeholder="aaaa-mm-jj" min="{{eventFormData.dateStarting | date: 'yyyy-MM-dd'}}" ng-model="eventFormData.dateEnding" required/><br/>
			<div class="red" ng-show="eventForm.$submitted || eventForm.txtEventDateEnding.$touched">
      			<div class="red" ng-show="eventForm.txtEventDateEnding.$error.min">La date de fin doit être postérieure à la date de début.</div>
    		</div>

			<label>Description</label>
			<textarea id="txtEventDescription" class="form-control" placeholder="Description de l'événement" ng-model="eventFormData.description" required/></textarea><br/>

			<label>Adresse</label>
			<input id="txtEventStreet" type="text" class="form-control" placeholder="rue / avenue / residence..." ng-model="eventFormData.street" required/><br/>
			
			<label>Code postal</label>
			<input id="txtEventZipCode" type="text" class="form-control" placeholder="33000" ng-model="eventFormData.zipCode" required/>
			<label>Ville</label>
			<input id="txtEventCity" type="text" class="form-control" placeholder="Bordeaux" ng-model="eventFormData.city" required/><br/>

			<label>Département</label>
			<input id="txtEventCounty" type="text" class="form-control" placeholder="Gironde" ng-model="eventFormData.county"><br/>

			<label>Pays</label>
			<input id="txtEventCountry" type="text" class="form-control" placeholder="France" ng-model="eventFormData.country" required/><br/>

			<label>Image de la page de présentation</label>
			<input type="file" ng-model="eventFormImage.backgroundImg" name="file" base-sixty-four-input required/>
			<p>Prévisualisation : <img ng-src="data:{{eventFormImage.backgroundImg.filetype}};base64,{{eventFormImage.backgroundImg.base64}}" alt=""></p>

			<label>Image miniature de l'évènement</label>
			<input type="file" ng-model="eventFormData.imageSmall" name="file" base-sixty-four-input required/>
			<p>Prévisualisation : <img ng-src="data:{{eventFormData.imageSmall.filetype}};base64,{{eventFormData.imageSmall.base64}}" alt=""></p>
			<hr />
		</div>
		<hr />
		<!-- Billeterie -->
		<h2>Billetterie</h2>
		<div>
			<label>Image de fond du billet</label>
			<input type="file" ng-model="eventFormImage.ticketImg" name="file" base-sixty-four-input required/>
			<p>Prévisualisation : <img ng-src="data:{{eventFormImage.ticketImg.filetype}};base64,{{eventFormImage.ticketImg.base64}}" alt=""></p>

			<div ng-repeat="t in eventFormData.ticketsType">
				<hr />
				<h3>Billet {{$index+1}}
					<span id="bt_rem_ticketType{{$index+1}}" class="" ng-show="eventFormData.ticketsType.length-1" ng-click="eventFormData.ticketsType.splice($index, 1)" title="Supprimer ce billet ?" alt="Supprimer Billet {{$index+1}}">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
				</h3>
				
				<label>Type</label>
				<input id="txtEventType{{$index+1}}" type="text" class="form-control" placeholder="ex. 3 jours plein tarif" ng-model="t.type" required/><br/>
				
				<label>Description</label>
				<textarea id="txtEventDescription{{$index+1}}" type="text" class="form-control" placeholder="Détails du type de billet" ng-model="t.description" required>
				</textarea><br/>

				<label>Date d'expiration</label>
				<input id="txtTicketExpirationDate{{$index+1}}" name="txtTicketExpirationDate" type="date" class="form-control" placeholder="aaaa-mm-jj" min="{{eventFormData.dateStarting | date: 'yyyy-MM-dd'}}" max="{{eventFormData.dateEnding | date: 'yyyy-MM-dd'}}"  ng-model="t.expirationDate" required/><br/>
				<div class="red" ng-show="eventForm.$submitted || eventForm.txtTicketExpirationDate.$touched">
	      			<div class="red" ng-show="eventForm.txtTicketExpirationDate.$error.min">La date d'expiration doit être postérieure à la date de début de l'événement ({{eventFormData.dateStarting | date: 'yyyy-MM-dd'}}).</div>
	      			<div class="red" ng-show="eventForm.txtTicketExpirationDate.$error.max">La date d'expiration doit être antérieure à la date de fin de l'événement ({{eventFormData.dateEnding | date: 'yyyy-MM-dd'}}).</div>
	    		</div>

				<label>Quantité</label>
				<input id="txtEventTicketLeft{{$index+1}}" type="number" class="form-control" title="Enter a quantity" min="1" ng-model="t.ticketLeft" required/><br/>

				<label>Prix</label>
				<input id="txtEventPrice{{$index+1}}" type="number" class="form-control" title="Enter a price" min="0" ng-model="t.price" required/><br/>
			</div>

			<button id="bt_add_ticket" class="btn btn-custom btn-block" ng-click="addNewTicketType()">	<span class="glyphicon glyphicon-plus"></span> Nouveau Billet </button>
		</div>
		<hr />

		<!-- Validation -->
		<button id="bt_restore" type="button" class="btn btn-custom" ng-click="cancel();">
			<span class="glyphicon glyphicon-refresh"></span>Restaurer cet événement
		</button>
		<button id="bt_submit" type="submit" class="btn btn-custom pull-right" ng-disabled="eventForm.$invalid" ng-click="editMode?updateEvent(true):createEvent(true);" >
			<span class="glyphicon glyphicon-send"></span>Publier !
		</button>	
		<button id="bt_save" type="submit" class="btn btn-custom pull-right" ng-disabled="eventForm.$invalid" ng-click="editMode?updateEvent(false):createEvent(false);">
			<span class="glyphicon glyphicon-floppy-save"></span>Sauvegarder sans publier
		</button>	
	</form>
</fieldset>


