<!-- Navigaion Bar Partial -->
<nav class="navbar navbar-inverse navbar-fixed-top">        					
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/" ng-click="changeActiveMenu(0)">My Party<sup class="version version-beta"> beta</sup></a>
		</div>
		<div ng-if="user.authenticated">
			<nav-bar-connected></nav-bar-connected>
		</div>
		<div ng-if="!user.authenticated">
			<nav-bar-disconnected></nav-bar-disconnected>
		</div>
	</div>
</nav>