<!--navigationDisconnected.html-->
<div id="navbar" class="collapse navbar-collapse">
	<ul id="menu" class="nav navbar-nav">
		<li id="bt_home" ng-class="activeMenu==0? 'active' : 'notActive'"><a href="#/" ng-click="changeActiveMenu(0)">Accueil</a></li>
    </ul>
	<ul id="menu" class="nav navbar-nav mdRight">
		<li id="bt_connect" ng-class="activeMenu==25? 'active' : 'notActive'">
			<a href="#/login" ng-click="changeActiveMenu(0);" title="Se Connecter"><span class="glyphicon glyphicon-log-in collapse"></span><span class="mdHide"> Se Connecter</span></a>
		</li>
	</ul>
</div>		